<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/bal/tmmatch" method="post">
        1번 레이트 : <input type="text" name="rate"><br>
        2번 레이트 : <input type="text" name="rate"><br>
        3번 레이트 : <input type="text" name="rate"><br>
        4번 레이트 : <input type="text" name="rate"><br>
        5번 레이트 : <input type="text" name="rate"><br>
        6번 레이트 : <input type="text" name="rate"><br>
        7번 레이트 : <input type="text" name="rate"><br>
        8번 레이트 : <input type="text" name="rate"><br>
        9번 레이트 : <input type="text" name="rate"><br>
        10번 레이트 : <input type="text" name="rate"><br>

        <input type="submit" value="밸런스 매칭"><br>

        {% if teamA.length > 0 %}
        팀A : {{teamA}}<br>
        팀B : {{teamB}}
        {% endif %}
    </form>
    
</body>
</html>