<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'main.html' %}
    {% block content %}
    <h3>회원가입</h3>
    <form action="/user/join" method="post">

        <!-- IDX: <input type="text" name="idx"> <br/> -->
        ID : <input type="text" name="user_id"> <br />
        PW : <input type="text" name="user_pw"> <br />
        NICK : <input type="text" name="user_nick"> <br />
        BIRTH : <input type="text" name="user_birthdate"> <br />
        GENDER : 남 <input type="radio" name="user_gender" value="m"> 여 <input type="radio" name="user_gender" value="w">
        <br />
        PHONE : <input type="text" name="user_phone"> <br />
        <input type="submit" value="회원가입">
    </form>
    {% endblock %}
</body>

</html>