{% extends 'main.html' %}

{% block content %}

{% if idName == teamLeader %}
<link rel="stylesheet" href="/css/match_room.css">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<nav id="navbar">
    <img src="/img/logo2.png" alt="" class="main_logo">
    <div class="user_info">
        <a href="/user/myPage">
            <ion-icon name="person-outline" class="user_logo"></ion-icon>
        </a>
        <a href="/user/logout">
            <ion-icon name="log-out-outline" class="logout_logo"></ion-icon>
        </a>
    </div>
</nav>

<div class="content-container">
    <div class="matchfield-container">
        <img src="/img/matchfield.png" alt="" class="matchfield">
        {% set positions = ['st', 'lm', 'lcm', 'rcm', 'rm', 'lb', 'lcb', 'rcb', 'rb', 'gk'] %}
        {% for position in positions %}
            <div class="overlay-image {{ position }}">
                {% if position in ['st', 'lm', 'lcm', 'rcm', 'rm'] %}
                    <img src="/img/player3.png" alt=""> <!-- 새로운 이미지 경로 -->
                {% else %}
                    <img src="/img/gold8.png" alt="">
                {% endif %}
                {% if loop.index0 < join_users|length %}
                    <div class="player-info">
                        <span>{{ join_users[loop.index0] }}</span>
                        <br>
                        <span>{{ user_info[join_users[loop.index0]] }}</span>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="info-container">
        <p>매치 정보</p>
        <pre>{{ match.match_info }}</pre>
        <p>지역: {{ match.match_region }}</p>
        <p>예상 경기 날짜: {{ match.match_date }}</p>
        <p>예상 시작 시간: {{ match.match_st_dt }}</p>
        <p>예상 종료 시간: {{ match.match_ed_dt }}</p>
        <p>여성부 매치: {{ match.female_match_yn }}</p>
        <p>점수 매치: {{ match.rate_match_yn }}</p>
        <div class="button-container">
            <form action="/user/cancel_game" method="post">
                <input type="hidden" name="match_idx" value="{{ match.match_idx }}">
                <input type="submit" class="btn" value="경기탈퇴">
            </form>
            <a href="/reserv/reservAll"><button class="btn">예약하기</button></a>
            <a href="/bal_rate_tmmatch"><button class="btn">밸런스 매칭</button></a>
        </div>
    </div>
</div>




{% else %}

<link rel="stylesheet" href="/css/match_room.css">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<nav id="navbar">
    <img src="/img/logo2.png" alt="" class="main_logo">
    <div class="user_info">
        <a href="/user/myPage">
            <ion-icon name="person-outline" class="user_logo"></ion-icon>
        </a>
        <a href="/user/logout">
            <ion-icon name="log-out-outline" class="logout_logo"></ion-icon>
        </a>
    </div>
</nav>

<div class="content-container">
    <div class="matchfield-container">
        <img src="/img/matchfield.png" alt="" class="matchfield">
        {% set positions = ['st', 'lm', 'lcm', 'rcm', 'rm', 'lb', 'lcb', 'rcb', 'rb', 'gk'] %}
        {% for position in positions %}
            <div class="overlay-image {{ position }}">
                {% if position in ['st', 'lm', 'lcm', 'rcm', 'rm'] %}
                    <img src="/img/player3.png" alt=""> <!-- 새로운 이미지 경로 -->
                {% else %}
                    <img src="/img/gold8.png" alt="">
                {% endif %}
                {% if loop.index0 < join_users|length %}
                    <div class="player-info">
                        <span>{{ join_users[loop.index0] }}</span>
                        <br>
                        <span>{{ user_info[join_users[loop.index0]] }}</span>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="info-container">
        <p>매치 정보</p>
        <pre>{{ match.match_info }}</pre>
        <p>지역: {{ match.match_region }}</p>
        <p>예상 경기 날짜: {{ match.match_date }}</p>
        <p>예상 시작 시간: {{ match.match_st_dt }}</p>
        <p>예상 종료 시간: {{ match.match_ed_dt }}</p>
        <p>여성부 매치: {{ match.female_match_yn }}</p>
        <p>점수 매치: {{ match.rate_match_yn }}</p>
        <div class="button-container">
            <form action="/user/join_game" method="post" onsubmit="return checkUserLimit()">
                <input type="hidden" name="match_idx" value="{{ match.match_idx }}">
                <input type="submit" class="btn" value="경기참가" id="joinButton" data-user-count="{{ join_users|length }}">
            </form>

            <form action="/user/cancel_game" method="post">
                <input type="hidden" name="match_idx" value="{{ match.match_idx }}">
                <input type="submit" class="btn" value="경기탈퇴">
            </form>
            <a href="/reserv/reservAll"><button class="btn">예약하기</button></a>
            <a href="/bal_rate_tmmatch"><button class="btn">밸런스 매칭</button></a>
        </div>
    </div>
</div>



<!-- 스크립트 -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var joinButton = document.getElementById("joinButton");
        var userCount = joinButton.getAttribute("data-user-count");

        function checkUserLimit() {
            if (userCount >= 10) {
                alert("참가 인원이 이미 10명을 초과했습니다. 더 이상 참가할 수 없습니다.");
                return false;
            }
            return true;
        }

        if (userCount >= 10) {
            joinButton.disabled = true;
        }

        document.querySelector('form').onsubmit = checkUserLimit;
    });
</script>

{% endif %}

{% endblock %}
