{% extends 'main.html' %}

{% block content %}

{% if idName == teamLeader %}

<h3>{{ match.match_title }} 매칭방에 입장하셨습니다</h3>
<p>지역: {{ match.match_region }}</p>
<p>예상 경기 날짜: {{ match.match_date }}</p>
<p>예상 시작 시간: {{ match.match_st_dt }}</p>
<p>예상 종료 시간: {{ match.match_ed_dt }}</p>
<p>여성부 매치: {{ match.female_match_yn }}</p>
<p>점수 매치: {{ match.rate_match_yn }}</p>
<p>매치 정보</p>
<pre>{{ match.match_info }}</pre>

<br><br>
{% set join_users = match.join_user.split(",") %}
{% for join_user in join_users %}
<div>{{ join_user }}</div>
{% endfor %}

<br><br>

<form action="/user/cancel_game" method="post">
    <input type="hidden" name="match_idx" value="{{ match.matcㄴh_idx }}">
    <input type="submit" value="경기탈퇴">
</form>
<a href="/reserv/reservAll"><button>예약하기</button></a>

<a href="/bal_rate_tmmatch"><button>밸런스 매칭</button></a>

{% else %}

<h3>{{ match.match_title }} 매칭방에 입장하셨습니다</h3>
<p>지역: {{ match.match_region }}</p>
<p>예상 경기 날짜: {{ match.match_date }}</p>
<p>예상 시작 시간: {{ match.match_st_dt }}</p>
<p>예상 종료 시간: {{ match.match_ed_dt }}</p>
<p>여성부 매치: {{ match.female_match_yn }}</p>
<p>점수 매치: {{ match.rate_match_yn }}</p>
<p>매치 정보</p>
<pre>{{ match.match_info }}</pre>

<br><br>
{% set join_users = match.join_user.split(",") %}
{% for join_user in join_users %}
<div>{{ join_user }}</div>
{% endfor %}

<br><br>

<form action="/user/cancel_game" method="post">
    <input type="hidden" name="match_idx" value="{{ match.match_idx }}">
    <input type="submit" value="경기탈퇴">
</form>

<form action="/user/join_game" method="post" onsubmit="return checkUserLimit()">
    <input type="hidden" name="match_idx" value="{{ match.match_idx }}">
    <input type="submit" value="경기참가" id="joinButton" data-user-count="{{ join_users|length }}">
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var joinButton = document.getElementById("joinButton");
        var userCount = joinButton.getAttribute("data-user-count");

        function checkUserLimit() {
            if (userCount >= 10) {
                alert("참가 인원이 이미 10명을 초과했습니다. 더 이상 참가할 수 없습니다.");
                return false;
            }
            return true;
        }

        if (userCount >= 10) {
            joinButton.disabled = true;
        }

        document.querySelector('form').onsubmit = checkUserLimit;
    });
</script>

{% endif %}

{% endblock %}
