{% extends "main.html" %}

{% block content %}

<h1>🍙예약하기🍙</h1>

<form action="/reserv/reserv" method="post">

    <label for="field">필드:</label>
    
    <select id="field" name="field_index" required>
        {% for item in fields %}
            <option value="{{ item.field_index }}">
                {{ item.field_name }}
            </option>
        {% endfor %}
    </select><br>
    <label for="court">코트:</label>
    <select id="court" name="court_idx" required>
        {% for item in courts %}
        <option value="{{ item.court_idx }}" {% if item.book_yn == 'Y' %} disabled {% endif %}>
            {{ item.court_name }} 
           
        </option>
        {% endfor %}
    </select><br>

    <label for="reserv_dt">예약 날짜:</label>
    <input type="date" id="reserv_dt" name="reserv_dt" required><br>
    <label for="reserv_time">예약 시간:</label>
    <select>

        <option value="morning">오전</option>
        <option value="after">오후</option>
        <option value="night">야간</option>
    </select><br>
    <button type="submit">예약하기</button>

</form>

{% endblock %}